//grid bootstrap based
$screen-xs:           0px;      // from Vuetify
$screen-sm:           600px;    // from Vuetify
$screen-md:           960px;    // from Vuetify
$screen-lg:           1264px;   // from Vuetify
$grid-breakpoint:     $screen-md;